{% extends "./base.html" %}

{% load ninja_news %}

{% block content %}
<div class="container-xl">
  <div class="card">
    <div class="row g-0">
      <div class="col-12 col-lg-7 col-xl-9 d-flex flex-column">
        <div class="card-body scrollable" style="height: 35rem">
          <div class="chat">
            <div class="chat_bubbles" id="chat_response">
              <!-- Will be filled by HTMX -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group input-group-flat">
          <input type="text" class="form-control" autocomplete="off" placeholder="Enter your question:" name="message" id="chat_input"/>
          <span class="input-group-text">
            <input type="submit" class="btn btn-success" value="Send" id="chat_submit"/>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Helper functions to create chat bubbles
  function createChatBubble(role){
    const chat_window = document.getElementById('chat_response');

    const outer = document.createElement("div");
    outer.classList.add("row", "align-items-end");
    if( role === "user" )
      outer.classList.add("justify-content-end");
    chat_window.appendChild(outer);

    const col_div = document.createElement("div");
    col_div.classList.add("col", "col-lg-6");
    outer.appendChild(col_div);

    const bubble = document.createElement("div");
    bubble.classList.add("chat-bubble");
    if(role === "user")
      bubble.classList.add("chat-bubble-me");
    col_div.appendChild(bubble);

    const bubble_title = document.createElement("div");
    bubble_title.classList.add("chat-bubble-title");
    bubble.appendChild(bubble_title);

    const bubble_title_row = document.createElement("div");
    bubble_title_row.classList.add("row");
    bubble_title.appendChild(bubble_title_row);

    const bubble_author = document.createElement("div");
    bubble_author.classList.add("col","chat-bubble-author");
    if(role === "user")
      bubble_author.innerHTML = "User";
    else
      bubble_author.innerHTML = "Assistant";
    bubble_title_row.appendChild(bubble_author);
    
    const bubble_body = document.createElement("div");
    bubble_body.classList.add("chat-bubble-body");
    bubble.appendChild(bubble_body);

    const bubble_body_content = document.createElement("div");
    if(role === "sources"){
        bubble_body_content.classList.add("collapsible");
        const source_title = document.createElement("p");
        source_title.innerHTML = "Click to toggle references";
        source_title.addEventListener("click", () => bubble_body_content.classList.toggle("shown"));
        bubble_body.appendChild(source_title);
    }
    bubble_body.appendChild(bubble_body_content);

    return bubble_body_content;
  }

  // Code for handling StreamingHttpResponse
  document.addEventListener("DOMContentLoaded", function () {
    const submitButton = document.getElementById('chat_submit');
    const inputField = document.getElementById('chat_input');

    submitButton.addEventListener('click', function (e) {
      console.log("clicked")
      e.preventDefault();

      if (window.source) {
        window.source.close();
      }

      const user_bubble = createChatBubble("user");
      user_bubble.innerHTML = inputField.value;
   
      const user_input = encodeURIComponent(inputField.value);
      inputField.value="";
      window.source = new EventSource(`/chat_backend?message=${user_input}`);

      const bot_bubble = createChatBubble("ai");
      const source_bubble = createChatBubble("sources");

      window.source.onopen = function (){
          console.log("Opened event source");
      }

      window.source.onmessage = function (e) {
        console.log(e);
        data = JSON.parse(e.data)
        if('quote' in data){
          citation_header = document.createElement("h5");
          citation_body = document.createElement("p");
          citation_body.innerHTML += "'";
          citation_body.innerHTML += data.quote;
          citation_body.innerHTML += "'";
          citation_header.innerHTML += data.video;
          citation_header.innerHTML += "' by ";
          citation_header.innerHTML += data.channel;
          source_bubble.appendChild(citation_header);
          source_bubble.appendChild(citation_body);
        } else {
          bot_bubble.innerHTML += data.answer;
        }
      };

      window.source.onerror = function (event) {
        console.error("EventSource failed:", event);
        window.source.close();
      };
    });
  });
</script>
{% endblock %}

